<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589956073019-r2gfts3g7fmvhq7u7gv2cduimbjkqmoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589956073019-r2gfts3g7fmvhq7u7gv2cduimbjkqmoi</string>
	<key>API_KEY</key>
	<string>AIzaSyD8dqgpKbMLvWlKgxaIcQb9dTMLj9Xbr1I</string>
	<key>GCM_SENDER_ID</key>
	<string>589956073019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sypo.sharkteam</string>
	<key>PROJECT_ID</key>
	<string>sypo-shark</string>
	<key>STORAGE_BUCKET</key>
	<string>sypo-shark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589956073019:ios:2648f076b703cc3af43e1e</string>
</dict>
</plist>